<nav class="navbar navbar-light bg-success ">
    <h3>Search for github repositories.</h3>
  <form class="">
  <div class="input-group">
    <input type="text" class="form-control" name="userinput" [(ngModel)]="searchRepoQuery" placeholder="Search repo name" />
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" (click)="search()">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>
</nav>



 <div class="col-sm-9">
    <div class="card bg-light">
      <div class="card-body"  *ngFor="let repo of repos">
        <p>{{repo.full_name}}</p>
        <h5 class="card-title">Repository name:{{repo.name}}</h5>
        <p class="card-text">Description:{{repo.description}}</p>
        <a [href]="repo.html_url" class="btn btn-primary">view repo</a>
      </div>
    </div>
  </div>


